<form [formGroup]="testForm" (ngSubmit)="doneButtonHandler()">
  <div>
    <label>제목: </label>
    <input type="text" placeholder="제목을 입력하세요" formControlName="title"/>
    <!--<div *ngIf="testForm.controls.title.error?.required" style="color:red">-->
    <!--Required-->
    <!--</div>-->
  </div>
  <br/>
  <div>
    <label>작성자: </label>
    <input type="text" placeholder="작성자를 입력하세요" formControlName="name"/>
    <!--<div *ngIf="testForm.controls.name.error?.required" style="color:red">-->
    <!--Required-->
    <!--</div>-->
  </div>
  <br/>
  <div>
    <label>내용: </label>
    <textarea placeholder="내용" name="description" formControlName="description"></textarea>
  </div>
  <br/>
  <button type="submit" [disabled]="!testForm.valid">등록</button>
  <button (click)="backButtonHandler()">글 목록</button>
</form>
